<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianji.learning.mapper.LearningRecordMapper">

    <select id="countLearnedSections" resultType="com.tianji.api.dto.IdAndNumDTO">
        select lesson_id as id, count(*) as num
        from learning_record
        where user_id = #{userId}
        and finish_time &gt; #{weekBeginTime} and finish_time &lt; #{weekEndTime}
        and finished = 1
        group by lesson_id;
    </select>
</mapper>
